html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* يجعل ارتفاع الصفحة الكلي 100% من ارتفاع النافذة */
}

.content {
  flex: 1; /* يملأ المساحة المتبقية بين الهيدر والفوتر */
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}
